body {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #163f75;
    background-color: #0f1e3205;
}

.header {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #0f1e32de;
}

.logo-img {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .logo-img img {
        width: 100%
    }

.header i {
    font-size: 1.5em;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    background-color: #ffffff
}

.login-form {
    width: 400px;
    height: 250px;
    box-shadow: 0px 0px 3px 0px #163f7569;
    background-color: #0f1e3200;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .login-form input {
        width: 100%;
    }

    .login-form button {
        margin: 5px;
        width: 66%;
        height: 13%;
    }

    #login-form .group{
        width: 65%
    }

    #login-form .bar {
        width: 100%;
    }

#login-form input:focus ~ .bar:before {
    width: 100%;
}

#action-login {
    height: 35px;
    margin-top: 20px
}