body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100vh;
    background-color: #0f1e3205;
}

.header-menu {
    width: 100%;
    height: 7%;
    background-color: #0f1e32;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-item {
    margin-left: 1.2%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

    .menu-item i {
        margin-right: 5px;
    }

    .menu-item:hover {
        cursor: pointer;
        color: #f15151;
        transition: 200ms ease-in;
        transform: scale(1.02);
    }

.hide {
    display: none !important;
}

.menu-item-active {
    color: #79c5e7;
}

.content {
    width: 100%;
    height: 93%;
    color: #0f1e32de;
}

#products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.category,
.product {
    position: relative;
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    flex-direction: column;
}

.category {
    border-right: 1px solid #0f1e3212;
    width: 30%;
}

.header-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5%;
}

.header-product-text {
    font-size: 2em;
    margin-bottom: 10px;
}

.header-product-add {
    font-size: 0.9em;
}

    .header-product-add:hover,
    .branch-header-add:hover {
        cursor: pointer;
        color: #f15151;
        transition: 100ms ease-in;
        transform: scale(1.01);
    }

.branch-header-add {
    margin-bottom: 1%;
}

dialog {
    border: none;
    box-shadow: 1px 1px 10px 0px;
    border-radius: 2px;
}

    dialog img {
        cursor: pointer;
    }

.header-dialog {
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.15em;
}

.enter-dialog-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .enter-dialog-data input {
        min-width: 320px;
        min-height: 23px;
        font-size: 0.8em;
        padding-left: 2px;
        margin-top: 2%;
    }

    .enter-dialog-data textarea {
        min-width: 320px;
        min-height: 130px;
        resize: none;
        margin-top: 2%;
        font-size: 1em;
    }

.dialog-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
}

    .dialog-menu button {
        margin-left: 3px;
        min-height: 25px;
        min-width: 70px;
    }

.add-image-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.preview-image {
    width: 285px;
    height: 285px;
    border: 1px solid #828080;
}

.dialog-image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #565656;
}

    .dialog-image-upload i {
        font-size: 2em;
    }

.dialog-image-upload:hover {
    cursor: pointer;
}

.preview-image {
    width: 322px;
    height: 322px;
    border: 1px solid #828080;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .preview-image img {
        width: 100%;
    }

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0f1e3226;
}

    .loader img {
        width: 150px;
    }

#setting,
#analytics,
#stock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.setting-header,
.analytics-header,
.stock-header {
    font-size: 2em;
    margin-bottom: 1%;
    padding-top: 2%;
}

#setting input {
    margin-bottom: 1%;
    width: 250px;
    height: 23px;
    padding-left: 3px;
}

#setting button {
    margin-bottom: 1%;
    width: 255px;
    height: 30px;
    text-align: center;
}

label[for=free-delivery] {
    font-size: 0.65em;
    color: #828080;
}

#branch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.branch-header {
    font-size: 2em;
    margin-bottom: 1%;
    padding-top: 2%;
}


#addBranchDialog input {
    margin-bottom: 1%;
    min-width: 282px;
    min-height: 23px;
    font-size: 0.8em;
    padding-left: 2px;
}

#addBranchDialog label {
    font-size: 0.65em;
    color: #828080;
}

.branch-list {
    width: 45%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5%;
}



.branch-item {
    width: 88%;
    min-height: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 2px;
    padding: 1%;
    box-shadow: 0px 0px 6px 0px #163f75;
    color: #163f75cf;
    margin: 0 auto;
    margin-bottom: 1.5%;
    position: relative;
}

.branch-item-info {
    width: 87%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.branch-item-action {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 1.4em;
    align-self: center;
}

.branch-item-action:hover:not(.disbled) {
    transform: scale(1.07);
    color: #f15151;
    cursor: pointer
}

.disbled {
    color: #cecece;
    cursor: not-allowed
}

.category-list {
    position: relative;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1.5%;
}

.category-item {
    width: 70%;
    min-height: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 2px;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 0.7%;
    position: relative;
    box-shadow: 0px 0px 5px 0px #163f75;
    color: #163f75cf;
    cursor: default;
}

div.category-item:hover {
    transition: 100ms ease-in;
    transform: scale(1.03);
}

.category-item-image {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

    .category-item-image img {
        width: 100%;
        border-radius: 2px;
    }

.category-item-name {
    width: 71%;
    font-size: 0.85em;
}

.category-item-action {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

    .category-item-action > i {
        margin-right: 20%;
        font-size: 1.1em;
    }

    .category-item-action i:hover {
        cursor: pointer;
        color: #f15151;
        transition: 200ms ease-in;
        transform: scale(1.1);
    }

.branch-list::-webkit-scrollbar,
.category-list::-webkit-scrollbar,
.product-list::-webkit-scrollbar {
    width: 0.45em;
}

.branch-list::-webkit-scrollbar-track,
.category-list::-webkit-scrollbar-track,
.product-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 30px;
}

.branch-list::-webkit-scrollbar-thumb,
.category-list::-webkit-scrollbar-thumb,
.product-list::-webkit-scrollbar-thumb {
    background-color: #163f752e;
    border-radius: 2px;
}

    .branch-list::-webkit-scrollbar-thumb:hover,
    .category-list::-webkit-scrollbar-thumb:hover,
    .product-list::-webkit-scrollbar-thumb:hover,
    .branch-list::-webkit-scrollbar-thumb:active,
    .category-list::-webkit-scrollbar-thumb:active,
    .product-list::-webkit-scrollbar-thumb:active {
        background-color: #163f75c9;
    }

.select-category {
    border: 1.5px solid;
    font-weight: 600;
}


.product-list {
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5%;
}

.product-item {
    width: 90%;
    min-height: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 0.5%;
    position: relative;
    box-shadow: 0px 0px 5px 0px #163f75;
    color: #163f75cf;
    cursor: default;
}

.product-item-header {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

div.product-item:hover {
    transition: 100ms ease-in;
    transform: scale(1.03);
}

.product-item-image {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

    .product-item-image img {
        width: 100%;
        border-radius: 2px;
    }

.product-item-name {
    width: 60%;
    font-size: 0.8em;
}

.product-item-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 15%;
    font-size: 0.9em;
    margin-right: 3%;
}

    .product-item-price i {
        margin-left: 5px;
        font-size: 0.85em;
    }

.product-item-action {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

    .product-item-action > i {
        margin-right: 20%;
        font-size: 1.1em;
    }

    .product-item-action i:hover {
        cursor: pointer;
        color: #f15151;
        transition: 200ms ease-in;
        transform: scale(1.1);
    }

.product-item-additional-info {
    font-size: 0.7em;
    width: 15%;
    margin-right: auto;
    padding-right: 3%;
    padding-left: 3%;
}

@media screen and (max-width: 1024px) {
    .category-item {
        width: 93%;
        margin-bottom: 1%;
    }

    .category-item-name {
        width: 67%;
    }

    .product-item {
        width: 94%;
        margin-bottom: 0.8%;
    }

    .product-item-additional-info {
        font-size: 0.6em;
    }

    .product-item-price {
        font-size: 0.8em;
    }

    .product-item-name {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 1366px) {
    .category-item {
        width: 91%;
        margin-bottom: 1%;
    }

    .category-item-name {
        width: 69%;
    }

    .product-item {
        width: 92%;
        margin-bottom: 0.8%;
    }

    .product-item-additional-info {
        font-size: 0.6em;
    }

    .product-item-price {
        font-size: 0.8em;
    }

    .product-item-name {
        font-size: 0.75em;
    }
}