body {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 100vh;
    background-color: #f3f3f3;
    overflow: hidden;
}

.header-menu {
    width: 100%;
    height: 5%;
    min-height: 50px;
    background-color: #0f1e32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

    .logo-img img {
        width: 100%
    }

.menu-item {
    margin-left: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.95em;
    position: relative;
    user-select: none;
}

    .menu-item i {
        margin-right: 6px;
        font-size: 1.15em;
    }

    .menu-item:hover {
        cursor: pointer;
        color: #9ab0c7;
        transition: 200ms ease-in;
    }

.hide {
    display: none !important;
}

.menu-item-active {
    color: #9ab0c7;
}

.content {
    width: 100%;
    height: 93%;
    color: #0f1e32de;
}

#products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.category,
.product {
    position: relative;
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    flex-direction: column;
}

dialog form {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /*padding: 0 3%;*/
}

.category {
    border-right: 1px solid #0f1e3212;
    width: 30%;
}

.header-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5%;
}

.header-product-text {
    font-size: 1.7em;
    margin-bottom: 10px;
}

.header-product i {
    font-size: 0.9em;
}

.header-product-add {
    font-size: 0.9em;
}

    .header-product-add:hover,
    .branch-header-add:hover,
    .stock-header-add:hover {
        cursor: pointer;
        color: #ce6a6b;
        transition: 100ms ease-in;
        transform: scale(1.01);
    }

.branch-header-add {
    margin-bottom: 1%;
}

dialog,
.custom-dialog .custom-dialog-body {
    border: none;
    box-shadow: 0px 0px 8px 1px #0d1b2d61;
    border-radius: 3px;
}

    dialog img {
        cursor: pointer;
    }

.header-dialog {
    width: 100%;
    margin-bottom: 4%;
    text-align: left;
    font-size: 1.3em;
    color: #0f1e32de;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .header-dialog i {
        margin-right: 5px;
    }

.content-dialog-data {
    min-height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.enter-dialog-data {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5%;
}

    .enter-dialog-data input {
        min-width: 320px;
        min-height: 23px;
        font-size: 1em;
        color: #0f1e328f;
    }

    .enter-dialog-data textarea {
        min-width: 320px;
        min-height: 160px;
        resize: none;
        margin-top: 2%;
        font-size: 1em;
    }

.dialog-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

    .dialog-menu button {
        margin-left: 6px;
        min-height: 25px;
        min-width: 100px;
    }

.add-image-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.dialog-image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #163f75cf;
    border: 1px solid #163f75cf;
}

    .dialog-image-upload i {
        font-size: 2em;
    }

    .dialog-image-upload:hover {
        cursor: pointer;
    }

.preview-image {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addCategoryDialog .preview-image {
    width: 322px;
    height: 322px;
}

.preview-image img {
    width: 100%;
}

#setting,
#analytics,
#stock,
#delivery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#setting,
#delivery {
    padding-top: 3%;
    height: 93%;
}

    #setting .bar,
    #delivery .bar {
        width: 250px;
    }

    #setting .group,
    #delivery .group {
        margin-right: 5%;
    }

    #setting input:focus ~ .bar:before,
    #delivery input:focus ~ .bar:before {
        width: 250px;
    }

    #setting label,
    #delivery label {
        font-size: 0.68em;
    }

.setting-block,
.delivery-block {
    width: 95%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
}

.smaller.delivery-block {
    height: 17%;
}

.setting-header,
.delivery-header {
    font-size: 1.4em;
    width: 100%;
    font-weight: 600;
    margin-bottom: 2%;
}

.delivery-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setting-content,
.delivery-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}

.analytics-header,
.stock-header {
    margin-bottom: 1.5%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .stock-header i {
        font-size: 0.9em;
    }

.stock-header {
    margin-bottom: 2%;
}

.stock-header-text {
    font-size: 2em;
    margin-bottom: 10px;
}

.stock-header-add {
    font-size: 0.9em;
}

#setting input[type=text],
#delivery input[type=text] {
    width: 250px;
    height: 23px;
}

label[for=free-delivery] {
    font-size: 0.65em;
    color: #828080;
}

#branch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.branch-header {
    font-size: 2em;
    margin-bottom: 1%;
    padding-top: 2%;
}

    .branch-header i {
        font-size: 0.9em;
    }

.branch-list {
    width: 45%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5%;
}



.branch-item {
    width: 88%;
    min-height: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 2px;
    padding: 1%;
    box-shadow: 0px 0px 5px 0px #0f1e322b;
    color: #163f75cf;
    margin: 0 auto;
    margin-bottom: 12px;
    position: relative;
}

.branch-item-info {
    width: 87%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.branch-item-action {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 1.4em;
    align-self: center;
}

    .branch-item-action:hover:not(.disbled) {
        transform: scale(1.07);
        color: #ce6a6b;
        cursor: pointer
    }

.disbled {
    color: #cecece;
    cursor: not-allowed
}

.category-list {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-top: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1.5%;
}

.category-item {
    width: 87%;
    min-height: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 3px;
    padding: 1% 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0px 0px 5px 0px #0f1e322b;
    color: #163f75cf;
    cursor: default;
}

    .category-item.gu-mirror {
        padding: 0 !important;
    }

.product-item.gu-mirror {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div.category-item:hover {
    transition: 100ms ease-in;
    transform: scale(1.03);
}

.category-item-image {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

    .category-item-image img {
        width: 100%;
        border-radius: 2px;
    }

.category-item-name {
    width: 71%;
    font-size: 0.85em;
    word-break: break-all;
    margin-right: 5%;
}

.category-item-action {
    /*width: 12%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

    .category-item-action > i {
        margin-right: 12px;
        font-size: 1.1em;
    }

    .category-item-action i:hover {
        cursor: pointer;
        color: #ce6a6b;
        transition: 200ms ease-in;
        transform: scale(1.1);
    }

.branch-list::-webkit-scrollbar,
.category-list::-webkit-scrollbar,
.product-list::-webkit-scrollbar,
.stock-list::-webkit-scrollbar,
.product-user-callback-review-list::-webkit-scrollbar,
.product-name-user-callback::-webkit-scrollbar,
.order-description-products::-webkit-scrollbar,
.order-description-info-comment-text::-webkit-scrollbar,
.order-description::-webkit-scrollbar,
ul.options::-webkit-scrollbar,
.analytics-wrapper::-webkit-scrollbar,
.order-list-grid::-webkit-scrollbar,
.order-details-product-list::-webkit-scrollbar,
.order-details-comment-value::-webkit-scrollbar,
.area-delivery-settings-list::-webkit-scrollbar {
    width: 0.45em;
}

.branch-list::-webkit-scrollbar-track,
.category-list::-webkit-scrollbar-track,
.product-list::-webkit-scrollbar-track,
.stock-list::-webkit-scrollbar-track,
.product-user-callback-review-list::-webkit-scrollbar-track,
.product-name-user-callback::-webkit-scrollbar-track,
.order-description-products::-webkit-scrollbar-track,
.order-description-info-comment-text::-webkit-scrollbar-track,
.order-description::-webkit-scrollbar-track,
ul.options::-webkit-scrollbar-track,
.analytics-wrapper::-webkit-scrollbar-track,
.order-list-grid::-webkit-scrollbar-track,
.order-details-product-list::-webkit-scrollbar-track,
.order-details-comment-value::-webkit-scrollbar-track,
.area-delivery-settings-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 30px;
}

.branch-list::-webkit-scrollbar-thumb,
.category-list::-webkit-scrollbar-thumb,
.product-list::-webkit-scrollbar-thumb,
.stock-list::-webkit-scrollbar-thumb,
.product-user-callback-review-list::-webkit-scrollbar-thumb,
.product-name-user-callback::-webkit-scrollbar-thumb,
.order-description-products::-webkit-scrollbar-thumb,
.order-description-info-comment-text::-webkit-scrollbar-thumb,
.order-description::-webkit-scrollbar-thumb,
ul.options::-webkit-scrollbar-thumb,
.analytics-wrapper::-webkit-scrollbar-thumb,
.order-list-grid::-webkit-scrollbar-thumb,
.order-details-product-list::-webkit-scrollbar-thumb,
.order-details-comment-value::-webkit-scrollbar-thumb,
.area-delivery-settings-list::-webkit-scrollbar-thumb {
    background-color: #163f752e;
    border-radius: 2px;
}

    .branch-list::-webkit-scrollbar-thumb:hover,
    .category-list::-webkit-scrollbar-thumb:hover,
    .product-list::-webkit-scrollbar-thumb:hover,
    .branch-list::-webkit-scrollbar-thumb:active,
    .category-list::-webkit-scrollbar-thumb:active,
    .product-list::-webkit-scrollbar-thumb:active,
    .product-user-callback-review-list::-webkit-scrollbar-thumb:active,
    .product-name-user-callback::-webkit-scrollbar-thumb:active,
    .order-description-products::-webkit-scrollbar-thumb:active,
    .order-description-info-comment-text::-webkit-scrollbar-thumb:active,
    .order-description::-webkit-scrollbar-thumb:active,
    ul.options::-webkit-scrollbar-thumb:active,
    .analytics-wrapper::-webkit-scrollbar-thumb:active,
    .order-list-grid::-webkit-scrollbar-thumb:active,
    .order-list-grid::-webkit-scrollbar-thumb:hover,
    .order-details-product-list::-webkit-scrollbar-thumb:active,
    .order-details-product-list::-webkit-scrollbar-thumb:hover,
    .order-details-comment-value::-webkit-scrollbar-thumb:active,
    .order-details-comment-value::-webkit-scrollbar-thumb:hover,
    .area-delivery-settings-list::-webkit-scrollbar-thumb:active,
    .area-delivery-settings-list::-webkit-scrollbar-thumb:hover {
        background-color: #163f75c9;
    }

.select-category {
    background-color: #163f740d;
}


.product-list {
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0.5%;
}

.product-item {
    width: 90%;
    min-height: 7%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 0.5%;
    position: relative;
    box-shadow: 0px 0px 5px 0px #0f1e322b;
    color: #163f75cf;
    cursor: default;
}

.product-item-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.product-item:hover {
    transition: 100ms ease-in;
    transform: scale(1.03);
}

.product-item-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

    .product-item-image img {
        width: 100%;
        border-radius: 2px;
    }

.product-item-name {
    width: 60%;
    font-size: 0.8em;
    word-break: break-word;
}

.product-item-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 15%;
    font-size: 0.9em;
    margin-right: 3%;
}

    .product-item-price i {
        margin-left: 5px;
        font-size: 0.85em;
    }

.product-item-action {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

    .product-item-action > i {
        margin-right: 10px;
        font-size: 1.1em;
        width: 25px;
    }

    .product-item-action i:hover,
    .stock-menu-el i:hover {
        cursor: pointer;
        color: #ce6a6b;
        transition: 200ms ease-in;
        transform: scale(1.1);
    }

.product-item-additional-info {
    font-size: 0.7em;
    width: 20%;
    margin-right: auto;
    padding-right: 3%;
    padding-left: 3%;
    word-break: break-word;
}

@media screen and (max-width: 1248px) {
    .category-item-action > i {
        margin-right: 8px;
        font-size: 0.85em;
    }

    .menu-item {
        font-size: 0.85em;
        margin-left: 12px;
    }

    .category-item {
        width: 93%;
        margin-bottom: 5px;
    }

    .category-item-name {
        width: 67%;
    }

    .product-item {
        width: 94%;
        margin-bottom: 0.8%;
    }

    .product-item-additional-info {
        font-size: 0.6em;
    }

    .product-item-price {
        font-size: 0.8em;
    }

    .product-item-name {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 1366px) {
    .category-item {
        width: 85%;
        margin-bottom: 5px;
    }

    .category-item-name {
        width: 52%;
    }

    .product-item {
        width: 92%;
        margin-bottom: 0.8%;
    }

    .product-item-additional-info {
        font-size: 0.6em;
        width: 25%;
    }

    .product-item-action {
        width: 22%;
    }

    .product-item-price {
        font-size: 0.8em;
    }

    .product-item-name {
        font-size: 0.75em;
        width: 50%;
    }
}

.empty-list {
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7em;
    color: #0f1e322e;
    background-color: #fafafa;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.empty-list-animation {
    width: 250px;
}

    .empty-list-animation img {
        width: 100%;
    }

.empty-list i {
    font-size: 2.6em;
}

.empty-list span {
    width: 90%;
}

#productUserCallbackDialog .empty-list {
    font-size: 1.4em;
    background-color: #fff;
}

.payment-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 30%;
}

    .payment-type input[type=checkbox],
    .checkbox-item input[type=checkbox] {
        width: 14px;
        height: 14px;
    }

.table-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.time-day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    font-size: 0.9em;
}

#delivery .table-time input[type=text] {
    width: 85px;
    height: 20px;
    text-align: center;
    color: #0f1e32de;
}

.checkbox-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.period-work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delivery-menu {
    margin-top: 2%;
}

#delivery .label-for {
    position: relative;
    pointer-events: all;
    top: 0px;
    font-size: 0.75em;
}

.product-type,
.stock-type {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
    flex-direction: column;
    color: #0f1e32de;
}

.product-type-header,
.stock-type-header {
    font-size: 0.7em;
    margin-bottom: 5px;
}

#product-type,
#stock-type {
    min-width: 322px;
    min-height: 25px;
    border-color: #c6c6c6;
    color: #0f1e328f;
    border-radius: 3px;
}

    #product-type:focus,
    #stock-type:focus {
        outline: -webkit-focus-ring-color auto 5px;
        outline-color: #496e98;
    }

.content-wrapper {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.stock-list {
    width: 100%;
    max-width: 960px;
    min-height: 98%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, 460px);
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    grid-row-gap: 10px;
    grid-column-gap: 1%;
    position: relative;
}

.stock-item {
    width: 460px;
    max-height: 100%;
    color: #163f75cf;
    box-shadow: 0px 0px 5px 0px #0f1e322b;
    margin: 5px;
    border-radius: 3px;
}

.stock-item-image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .stock-item-image img {
        max-width: 100%;
        max-height: 100%;
    }

.stock-item-footer {
    width: 95%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 4%;
}

.stock-item-name {
    font-weight: bold;
    font-size: 0.9em;
    width: 75%;
    height: 100%;
    word-break: break-word;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stock-item-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-size: 1.1em;
    width: 25%;
    height: 100%;
}

.stock-menu-el {
    margin: 0 5px;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.section-wrapper {
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#delivery .section-wrapper {
    height: 90%;
}

#delivery select {
    border-radius: 2px;
    height: 35px;
    color: #0f1e32de;
}

.product-item-raty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 5px;
}

.confirmation-info {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #0f1e32de
}

    .confirmation-info i {
        font-size: 2em;
        margin-right: 10px
    }

#deleteConfirmationDialog {
    padding: 20px;
}

    #deleteConfirmationDialog .dialog-menu,
    #productUserCallbackDialog .dialog-menu {
        justify-content: flex-end;
    }

#productUserCallbackDialog .dialog-menu {
    margin-top: 0;
}

.product-user-callback {
    width: 850px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.product-user-callback-image {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .product-user-callback-image img {
        width: 100%;
        border-radius: 2px;
    }

.product-user-callback-info {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.product-user-callback-header {
    width: 98%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-height: 30%;
    color: #0f1e32de;
}

.product-user-callback-review {
    width: 98%;
    padding: 0 15px;
    height: 77%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #ababab;
}

.product-user-callback-review-header {
    width: 100%;
    max-height: 30%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #0f1e32de;
}

.product-user-callback-review-list {
    width: 95%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.product-name-user-callback {
    font-size: 1.4em;
    color: #0f1e32de;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-raty-user-callback {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.product-raty-image-user-callback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.product-raty-text-user-callback {
    font-size: 0.9em;
}

.review-item {
    width: 90%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #dededede;
}

.review-item-header {
    width: 100%;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #757575;
}

    .review-item-header i {
        font-size: 1.15em;
    }

.review-item-text {
    font-size: 0.85em;
    width: 95%;
    padding: 10px 0 10px 5%;
}

.review-item-header i:hover {
    cursor: pointer;
    color: #ce6a6b;
    transition: 200ms ease-in;
    transform: scale(1.1);
}

#productUserCallbackDialog img {
    cursor: default;
}

#order,
#history {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #order .empty-list,
    #history .empty-list {
        font-size: 1.5em;
    }

.order-item {
    width: 90%;
    padding: 0px 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #163f75;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 0px 5px 0px #0f1e322b;
    cursor: default;
}

.order-item-date {
    font-size: 0.8em;
}

.order-item i {
    font-size: 1.2em;
    width: 30px;
}

.order-item .fa-shipping-timed {
    color: #163f75c4;
}

.order-item .fa-hand-holding-box {
    color: #163f75c4;
}

.order-item-number {
    width: 60%;
}

.order-item:hover {
    transition: 100ms ease-in;
    transform: scale(1.03);
}

.order-item-active {
    background-color: #163f740d;
}

.order-item:hover::after {
    width: 100%;
    transition: width .3s;
}

.take-info-header {
    width: 100%;
    text-align: center;
}

.take-info-items {
    width: 90%;
    padding: 0 5%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.take-info-item {
    width: 100%;
    height: 25px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.take-info-item:nth-child(odd) {
    background-color: #163f740d;
}

.take-info-item-value {
    font-size: 0.85em;
    word-break: break-word;
    text-align: right;
}

.background-order-info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-size: 7em;
    color: #0f1e320a;
}

.order-description-info-comment {
    width: 96%;
    padding: 5px 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px #163f7569;
    margin-bottom: 10px
}

.order-description-info-comment-header {
    margin-bottom: 3px;
    margin: 5px 0;
    font-size: 0.9em;
}

.order-description-info-comment-text {
    width: 99%;
    height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    font-size: 0.75em;
    padding: 3px;
    color: #444444c7;
}

.btn.btn-cancel-order {
    background-color: #e03333;
    color: #e7f5ff
}

    .btn.btn-cancel-order:hover {
        color: #e7f5ff
    }

.sumuselect label {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    pointer-events: inherit;
    position: inherit;
    left: inherit;
    top: 0;
    transition: none;
    color: #0f1e328c;
}

.optWrapper label {
    font-size: 0.8em;
}

#order .SumoSelect > .CaptionCont > span,
#history .SumoSelect > .CaptionCont > span,
#stockDialog .SumoSelect > .CaptionCont > span {
    font-size: 0.85em;
}

#order .SumoSelect,
#history .SumoSelect,
#stockDialog .SumoSelect {
    width: 90%;
    margin: 5px;
}

    #order .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
    #history .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
    #addProducDialog .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
    #stockDialog .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i {
        background-color: #163f75b0;
    }

.not-border {
    border: none;
}

.SumoSelect.open > .optWrapper,
.datepickers-container {
    z-index: 99999999;
}

.additional-order-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datepicker-input input {
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.datepicker-input .group {
    /*width: 54%;*/
    cursor: pointer;
    margin-top: 0;
}

.datepicker-input .bar {
    width: 100%;
}

.datepicker-input input:focus ~ .bar:before {
    width: 100%;
}

.datepicker-input div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.period-description {
    color: #0f1e328f;
    font-size: 0.9em;
    cursor: default;
}

#order .SumoSelect > .CaptionCont,
#history .SumoSelect > .CaptionCont
#stockDialog .SumoSelect > .CaptionCont {
    min-height: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    border-color: #A4A4A4;
}

.search-group {
    width: 90%;
    margin: 5px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #A4A4A4;
    background-color: #fff;
}

.search-group-ico {
    width: 12%;
    height: 100%;
    border-left: none;
    font-size: 0.9em;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-group-input {
    width: 88%;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #ccc;
}

    .search-group-input input {
        margin: 0;
        border: none;
        height: 27px;
        padding: 0 0 0 10px;
        font-size: 0.85em;
    }

        .search-group-input input::placeholder {
            font-style: italic;
            color: #ccc;
        }

.order-count {
    min-width: 16px;
    height: 10px;
    padding: 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
    bottom: -10px;
    font-size: 0.7em;
    border-radius: 10px;
    background-color: #0f1e32;
    border: 1px solid;
    z-index: 9;
}

.sound-notify {
    justify-content: flex-start;
}

.period {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 230px
}

    .period .group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        cursor: pointer;
        margin-top: 0;
    }

    .period input {
        width: 100%;
        border: none;
        cursor: pointer;
        text-align: center;
        color: transparent;
        text-shadow: 0 0 0 #0f1e328f;
    }

.about-us-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;
}

    .about-header img {
        width: 100%;
    }

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    .about-us span {
        margin-bottom: 10px;
    }








.order-wrapper-grid {
    width: 1000px;
    height: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr;
    grid-row-gap: 15px;
}

.order-settings {
    box-shadow: 0px 0px 5px 1px #0f1e322b;
    border-radius: 3px;
    color: #163f75cf;
    margin: 8px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-column-gap: 10px;
}

.setting-item {
    width: 100%;
    height: 70%;
    margin: 15px 0;
    border-right: 1px solid #bdbdbd35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.additional-order-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-group {
    width: 90%;
    margin: 5px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-group-input {
    width: 88%;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #ccc;
}

.search-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #0f1e322b;
    background-color: #fff;
    border: none;
}

.additional-order-item.search-input input {
    text-align: center;
    font-size: 2.5em;
    padding: 5px;
    color: #163f75cf;
    font-weight: bold;
    width: 180px;
}

search-group-item search-group-ico {
    display: none;
}

.sm-font-size {
    font-size: 0.8em;
}

.sm-x-font-size {
    font-size: 0.9em;
}

.font-weight-bold {
    font-weight: bold;
}

.bg-font-size {
    font-size: 2.3em;
}

.order-list-grid {
    color: #163f75cf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 230px;
    grid-column-gap: 25px;
    grid-row-gap: 5px;
    padding: 5px 10px 10px 10px;
    overflow-y: auto;
    position: relative;
}

.order-item-grid {
    box-shadow: 0px 0px 6px 0px #21435fd1;
    border-radius: 3px;
    background-color: #fff;
    background: linear-gradient(90deg, #FFCFC5 0%, #F2F3BC 100%);
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 2fr) 1fr;
    padding: 10px 15px;
}

.setting-item:nth-last-child(1) {
    border-right: none;
}

.additional-order-item.search-input input::placeholder {
    font-size: 0.9rem;
    font-weight: normal
}

.success-color {
    color: #319857 !important;
}

.fail-color {
    color: #F44336 !important;
}

.text-no-wrap {
    white-space: nowrap;
}

.order-item-grid:nth-child(5n+1) {
    background-color: #2196F3;
    background: linear-gradient(90deg, #1FA5FF 0%, #1053FF 100%);
    color: #fff;
}

.order-item-grid:nth-child(5n+2) {
    background-color: #3a4c5a;
    background: linear-gradient(90deg, #3F4C6B 0%, #606C88 100%);
    color: #fff;
}

.order-item-grid:nth-child(5n+3) {
    background-color: #FF756B;
    background: linear-gradient(90deg, #FE2F57 0%, #FF6A28 100%);
    color: #fff;
}

.order-item-grid:nth-child(5n+4) {
    background-color: #A854A5;
    background: linear-gradient(90deg, #F03358 0%, #6D107E 100%);
    color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #bdbdbd35 !important;
}



.order-item-short-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.border-right {
    border-right: 1px solid #bdbdbd35 !important;
}

.order-short-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 5px;
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-normal-font-size {
    font-size: 2em;
}

.bg-small-font-size {
    font-size: 1.4em;
}

.col-span-4 {
    grid-column: span 4;
}

.order-item-short-row a {
    cursor: pointer;
}

.order-item-grid a:hover {
    transition: 0.3s;
    color: #422121;
}

.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}


dialog {
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 400ms;
}

    dialog.dialog-scale {
        visibility: visible;
        transform: scale(1);
    }

.order-details-wrapper {
    width: 975px;
    height: 610px;
    display: grid;
    grid-template-columns: 350px 295px 300px;
    grid-template-rows: 1fr 80px 70px;
    grid-gap: 15px;
}

.order-details-block {
    box-shadow: 0px 0px 5px 1px #0f1e322b;
    background-color: #fff;
    border-radius: 3px;
}

.order-details-full-info {
    grid-row: span 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2.7fr 3fr;
    grid-row-gap: 15px;
    box-shadow: none;
}

.order-details-products {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 380px;
    padding: 18px 5px 5px 5px;
}

.order-details-menu {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

button.order-details-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    font-size: 0.75em;
    background: none;
    cursor: pointer;
}

.default-color {
    color: #163f75cf;
}

button.order-details-menu-item i {
    font-size: 1.7em;
    margin-bottom: 5px;
}

.btn-details-apply:hover {
    color: #319857;
    transition: 0.8s;
}

.btn-details-cancel:hover {
    color: #F44336;
    transition: 0.8s;
}

.btn-details-close:hover {
    color: #484848;
}

.order-details-number-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.order-details-short {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.order-details-short-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

    .order-details-short-item i {
        font-size: 1.5em;
    }

    .order-details-short-item span {
        font-size: 0.7em;
        margin-top: 6px;
    }

.order-details-full-info-block {
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px #0f1e322b;
}

.order-details-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    padding: 20px 0;
}

.order-details-header {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0px 15px;
    color: #505050;
}

.order-details-info-item {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid #bdbdbd35;
    margin: 0px 30px;
}

.order-details-info-label {
    font-size: 0.93em;
}

.order-details-info-value {
    justify-self: flex-end;
    font-size: 0.8em;
    font-weight: bold;
}

.order-details-address {
    grid-template-rows: repeat(8,1fr);
}

.order-details-product-list {
    display: grid;
    padding: 0 25px;
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: 55px;
    grid-row-gap: 15px;
}

.order-details-product-item {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-column-gap: 8px;
    font-size: 0.9em;
}

.order-details-product-img img {
    width: 90%;
    border-radius: 2px;
    cursor: default;
}

.order-details-product-name-price {
    width: 98%;
    height: 100%;
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.grid-justify-self-flex-end {
    justify-self: flex-end;
}

.datepicker-input {
    height: 6px;
    margin-top: 15px;
}

.super-sm-font-size {
    font-size: 0.75em;
}

.margin-top5 {
    margin-top: 5px;
}

button:disabled, button:disabled:hover {
    color: #adadad;
    cursor: not-allowed;
}

.order-details-comment {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
    padding: 10px 5px 5px 3px;
}

.order-details-comment-value {
    padding: 10px 5px 5px 20px;
    overflow: auto;
    color: #b1b1b1;
}

    .order-details-comment-value i {
        margin-right: 5px;
    }

#area-delivery-list {
    margin: 0 10px;
    min-width: 230px;
    max-width: 300px;
}

.area-delivery-setting-wrapper {
    display: grid;
    grid-template-columns: 550px 40px;
    grid-template-rows: 30px 250px;
    grid-gap: 10px;
    grid-row-gap: 5px;
    padding: 10px;
    position: relative;
}

.area-delivery-setting-header {
    font-weight: bold;
    font-size: 1.4em;
    color: #505050;
}

.dialog-btn-close {
    font-size: 1.2em;
    justify-self: center;
    position: absolute;
    right: -6px;
    top: -6px;
    color: #a2a2a2;
    cursor: pointer;
    background-color: #fff;
    border: none;
    z-index: 999;
}

.area-delivery-settings {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-row-gap: 10px;
}

.area-delivery-settings-add {
    justify-self: center;
    font-size: 0.9em;
    color: #1d73b7;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

    .area-delivery-settings-add i {
        transition-duration: 500ms;
        transition-property: transform;
    }

    .area-delivery-settings-add:hover i {
        transform: rotate(90deg);
    }

.area-delivery-settings-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
    overflow: auto;
    padding: 0px 15px;
    border: 1px solid #bdbdbd35;
    cursor: default;
}

.area-delivery-settings-item {
    display: grid;
    grid-template-columns: 1fr 130px 40px 40px;
    grid-column-gap: 5px;
}

.area-name {
    align-self: center;
    padding: 0px 3px;
}

.area-delivery-price {
    align-self: center;
    justify-self: center;
}

.area-delivery-settings-btn {
    background-color: #fff;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    color: #163f75cf;
}

.edit-btn:hover {
    color: #2196F3;
    transition: 200ms ease-in;
}

.remove-btn:hover {
    color: #FF5722;
    transition: 200ms ease-in;
}

.area-delivery-edit-wrapper {
    display: grid;
    grid-template-columns: 490px;
    grid-template-rows: repeat(2, 40px);
    padding: 5px 10px;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}

.area-delivery-edit-inputs {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

    .area-delivery-edit-inputs input {
        width: 100%;
        padding-left: 5px;
    }

.area-delivery-edit-menu {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: 35px;
    grid-column-gap: 15px;
    justify-self: center;
}

    .area-delivery-edit-menu button {
        font-size: 0.7em;
    }

.area-delivery-empty {
    align-self: center;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 5;
    color: #bbb;
}

#addProducDialog .SumoSelect {
    min-width: 320px;
    min-height: 25px;
    border-color: #c6c6c6;
    color: #0f1e328f;
    border-radius: 3px;
}

    #addProducDialog .SumoSelect .CaptionCont label,
    #stockDialog .SumoSelect .CaptionCont label {
        color: initial;
        pointer-events: initial;
        left: initial;
        transition: initial;
    }

    #addProducDialog .SumoSelect .optWrapper label,
    #stockDialog .SumoSelect .optWrapper label {
        color: initial;
        position: initial;
        pointer-events: initial;
        left: initial;
        top: initial;
        transition: initial;
    }

.dialog-container {
    min-width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-sm {
    min-width: 700px;
}

.section-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    width: 1024px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

.section-header {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.section-content {
    display: grid
}

.simple-text-btn {
    font-size: 0.9em;
    color: #1d73b7;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

    .dialog-btn-close:active,
    .simple-text-btn:active,
    .area-delivery-settings-add:active,
    .area-delivery-settings-btn:active,
    .order-details-menu-item:active,
    .promotion-btn-settings-add:active {
        outline: none;
    }

h4 {
    margin-block-end: 0.2em;
}

.custom-dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
}

.custom-dialog-flex {
    display: flex !important
}

.custom-dialog-body {
    width: auto;
    height: auto;
    background-color: #fff;
    display: none;
    position: absolute;
    padding: 1em;
}

input,
button {
    outline-color: #d0d0d0;
}
