body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100vh;
}

.header-menu {
    width: 100%;
    height: 7%;
    background-color: #0f1e32;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-item {
    margin-left: 1.2%;
    color: #ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

    .menu-item i {
        margin-right: 5px;
    }

    .menu-item:hover {
        cursor: pointer;
        color: #f15151;
        transition: 200ms ease-in;
        transform: scale(1.015);
    }

.hide {
    display: none !important;
}

.menu-item-active {
    color: #79c5e7;
}

.content {
    width: 100%;
    height:100%;
}

#products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.category,
.product {
    width: 70%;
    height: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    flex-direction:column;
}

.category {
    border-right: 1px solid #2d2b2b;
    width: 30%;
}

.header-product {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.header-product-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.header-product-add {
    font-size: 0.9em;
}

    .header-product-add:hover,
    .branch-header-add:hover {
        cursor: pointer;
        color: #6eb2f5;
        transition: 100ms ease-in;
    }
dialog {
    border: none;
    box-shadow: 1px 1px 10px 0px;
    border-radius: 2px;
}

.header-dialog {
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.15em;
}

.enter-dialog-data {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

    .enter-dialog-data input {
        min-width: 282px;
        min-height: 23px;
        font-size: 0.8em;
        padding-left: 2px;
    }

    .enter-dialog-data textarea {
        min-width: 280px;
        min-height: 130px;
        resize: none;
        margin-top: 2%;
        font-size: 1em;
    }

.dialog-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
}

    .dialog-menu button {
        margin-left: 3px;
        min-height: 25px;
    }

.add-image-product {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 1%;
}

.preview-image {
    width: 285px;
    height: 285px;
    border: 1px solid #828080;
}

.dialog-image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #565656;
}

.dialog-image-upload:hover {
    cursor:pointer;
}

.preview-image {
    width: 282px;
    height: 282px;
    border: 1px solid #828080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image img{
    width:100%;
}

.product-price {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    min-width: 280px;
    margin-top: 2%;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4a48486e;
}

.loader img{
    width: 150px;
}

#setting {
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    margin-top: 1%;
}
    .setting-header {
        font-size: 1.5em;
        margin-bottom: 1%;
    }

#setting input {
    margin-bottom: 1%;
    width: 250px;
    height: 23px;
    padding-left: 3px;
}

#setting button {
    margin-bottom: 1%;
    width: 255px;
    height: 30px;
    text-align: center;
}

label[for=free-delivery] {
    font-size: 0.65em;
    color:#828080;
}

#branch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.branch-header {
    font-size: 1.3em;
    margin-bottom: 5px;
}


#addBranchDialog input {
    margin-bottom: 1% ;
    min-width: 282px;
    min-height: 23px;
    font-size: 0.8em;
    padding-left: 2px;
}

#addBranchDialog label {
    font-size: 0.65em;
    color: #828080;
}