.integration-type-wrapper {
    justify-self: center;
}

#integration select {
    border-radius: 2px;
    height: 30px;
    color: #0f1e32de;
    min-width: 250px;
}

.integration-values-wrapper {
    position: relative;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.integration-menu-wrapper {
    justify-self: center;
}

.integration-frontpad-cbx-group {
    width: 320px;
    justify-content: flex-start;
    margin: 5px 0;
}

    .integration-frontpad-cbx-group input {
        margin-left: 0;
    }

.integration-sync-frontpad-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.integration-sync-frontpad-wrapper h3 {
    margin-bottom: 10px;
}

    .integration-sync-frontpad-wrapper input[type="file"] {
        margin-bottom: 15px;
        border-bottom: none;
    }