@font-face {
    font-family: "SFNSDisplay-Ultralight";
    src: url("../fonts/SFUIDisplay-Light.ttf") format("truetype");
    font-style: normal;
}

body {
    font-family: sans-serif;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
}

    .loader img {
        max-width: 100px;
        width: 12%;
        filter: blur(1px);
    }

.main-bg-color {
    background-color: #f3f3f3 !important ;
}

.display-none {
    display: none !important;
}