.product-additional-info-block {
    align-items: flex-end;
}

#addProducDialog .product-additional-info-block .SumoSelect {
    width: 150px;
    min-width: 150px;
    margin-bottom: 5px;
}

.btn-function-product-additional-info {
    height: 30px;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.btn-product-options {
    margin: 5px 0;
}