/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/EasyStart/EasyStart/bin/roslyn/System.Collections.Immutable.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.FileSystem.Primitives.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.FileSystem.dll
/EasyStart/EasyStart/bin/roslyn/System.Reflection.Metadata.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Cryptography.Primitives.dll
/EasyStart/EasyStart/bin/roslyn/System.ValueTuple.dll
/EasyStart/EasyStart/bin/roslyn/VBCSCompiler.exe
