/EasyStart/.vs/config/applicationhost.config
/EasyStart/.vs/EasyStart/v15/.suo
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/db.lock
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-shm
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-wal
/EasyStart/EasyStart/bin/Antlr3.Runtime.dll
/EasyStart/EasyStart/bin/Antlr3.Runtime.pdb
/EasyStart/EasyStart/bin/EasyStart.dll
/EasyStart/EasyStart/bin/EasyStart.dll.config
/EasyStart/EasyStart/bin/EasyStart.pdb
/EasyStart/EasyStart/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/EasyStart/EasyStart/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/EasyStart/EasyStart/bin/Microsoft.Web.Infrastructure.dll
/EasyStart/EasyStart/bin/Newtonsoft.Json.dll
/EasyStart/EasyStart/bin/Newtonsoft.Json.xml
/EasyStart/EasyStart/bin/roslyn/csc.exe
/EasyStart/EasyStart/bin/roslyn/csc.exe.config
/EasyStart/EasyStart/bin/roslyn/csc.rsp
/EasyStart/EasyStart/bin/roslyn/csi.exe
/EasyStart/EasyStart/bin/roslyn/csi.exe.config
/EasyStart/EasyStart/bin/roslyn/csi.rsp
/EasyStart/EasyStart/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.CSharp.Core.targets
/EasyStart/EasyStart/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/EasyStart/EasyStart/bin/roslyn/Microsoft.Managed.Core.targets
/EasyStart/EasyStart/bin/roslyn/Microsoft.VisualBasic.Core.targets
/EasyStart/EasyStart/bin/roslyn/System.AppContext.dll
/EasyStart/EasyStart/bin/roslyn/System.Collections.Immutable.dll
/EasyStart/EasyStart/bin/roslyn/System.Console.dll
/EasyStart/EasyStart/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/EasyStart/EasyStart/bin/roslyn/System.Diagnostics.StackTrace.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.Compression.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.FileSystem.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.FileSystem.Primitives.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.Pipes.AccessControl.dll
/EasyStart/EasyStart/bin/roslyn/System.IO.Pipes.dll
/EasyStart/EasyStart/bin/roslyn/System.Reflection.Metadata.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.AccessControl.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Claims.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Cryptography.Encoding.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Cryptography.Primitives.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/EasyStart/EasyStart/bin/roslyn/System.Security.Principal.Windows.dll
/EasyStart/EasyStart/bin/roslyn/System.Text.Encoding.CodePages.dll
/EasyStart/EasyStart/bin/roslyn/System.ValueTuple.dll
/EasyStart/EasyStart/bin/roslyn/System.Xml.ReaderWriter.dll
/EasyStart/EasyStart/bin/roslyn/System.Xml.XmlDocument.dll
/EasyStart/EasyStart/bin/roslyn/System.Xml.XPath.dll
/EasyStart/EasyStart/bin/roslyn/System.Xml.XPath.XDocument.dll
/EasyStart/EasyStart/bin/roslyn/vbc.exe
/EasyStart/EasyStart/bin/roslyn/vbc.exe.config
/EasyStart/EasyStart/bin/roslyn/vbc.rsp
/EasyStart/EasyStart/bin/roslyn/VBCSCompiler.exe
/EasyStart/EasyStart/bin/roslyn/VBCSCompiler.exe.config
/EasyStart/EasyStart/bin/ru/System.Web.Helpers.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.Mvc.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.Optimization.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.Razor.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.WebPages.Deployment.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.WebPages.Razor.resources.dll
/EasyStart/EasyStart/bin/ru/System.Web.WebPages.resources.dll
/EasyStart/EasyStart/bin/System.Web.Helpers.dll
/EasyStart/EasyStart/bin/System.Web.Helpers.xml
/EasyStart/EasyStart/bin/System.Web.Mvc.dll
/EasyStart/EasyStart/bin/System.Web.Mvc.xml
/EasyStart/EasyStart/bin/System.Web.Optimization.dll
/EasyStart/EasyStart/bin/System.Web.Optimization.xml
/EasyStart/EasyStart/bin/System.Web.Razor.dll
/EasyStart/EasyStart/bin/System.Web.Razor.xml
/EasyStart/EasyStart/bin/System.Web.WebPages.Deployment.dll
/EasyStart/EasyStart/bin/System.Web.WebPages.Deployment.xml
/EasyStart/EasyStart/bin/System.Web.WebPages.dll
/EasyStart/EasyStart/bin/System.Web.WebPages.Razor.dll
/EasyStart/EasyStart/bin/System.Web.WebPages.Razor.xml
/EasyStart/EasyStart/bin/System.Web.WebPages.xml
/EasyStart/EasyStart/bin/WebGrease.dll
/EasyStart/EasyStart/EasyStart.csproj
/EasyStart/EasyStart/obj/Debug/EasyStart.csproj.CopyComplete
/EasyStart/EasyStart/obj/Debug/EasyStart.csproj.CoreCompileInputs.cache
/EasyStart/EasyStart/obj/Debug/EasyStart.csproj.FileListAbsolute.txt
/EasyStart/EasyStart/obj/Debug/EasyStart.csprojAssemblyReference.cache
/EasyStart/EasyStart/obj/Debug/EasyStart.dll
/EasyStart/EasyStart/obj/Debug/EasyStart.pdb
/EasyStart/.vs/config/applicationhost.config
/EasyStart/.vs/EasyStart/v15/.suo
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/db.lock
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-shm
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-wal
/EasyStart/EasyStart/EasyStart.csproj
/EasyStart/.vs/config/applicationhost.config
/EasyStart/.vs/EasyStart/v15/.suo.orig
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/db.lock
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-shm
/EasyStart/.vs/EasyStart/v15/Server/sqlite3/storage.ide-wal
/EasyStart/EasyStart/EasyStart.csproj
