select.mdb-select-initialized {
    display: none !important;
}

div.mdb-select-wrapper {
}

.mdb-select-arrow {
    color: #000;
    text-align: center;
    font-size: .8rem;
    position: absolute;
    right: 9px;
    top: 9px;
}

.mdb-select-arrow::before {
    content: "▼";
}

.mdb-select-input {
    cursor: pointer;
}

.mdb-select-input:focus ~ .mdb-select-arrow {
    color: #4285f4;
}

.mdb-select-input.form-control[readonly]:not([disabled]) {
    background-color: transparent;
}

.mdb-select-dropdown-container {
    border: 1px solid red;
}

.mdb-select-dropdown.open {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}

.mdb-select-dropdown {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 0;
    min-width: 100px;
    outline: 0;
    position: relative;
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8);
    opacity: 0;
    -webkit-transition: all 5.2s;
    transition: all 5.2s;
}