<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Images/favico.ico" type="image/x-icon">
    <title>Панель администратора</title>
    @Styles.Render("~/fontawesome/css")
    @Styles.Render("~/common/css")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
</head>
<body class="bg-light">
    <div id="preloader-app" class="preloader-app bg-light">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-2 mb-1 d-flex align-items-center" role="button" target-page="aboutUs">
                    <img height="25" src="~/Images/logo.png" alt="Logo" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="orders" target-page="orders">
                                <span id="orderNumberNotification" class="badge rounded-pill badge-notification bg-danger" style="display:none;">0</span>
                                <i class="fal fa-shopping-basket"></i>
                                Заказы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="ordersHistory">
                                <i class="fal fa-history"></i>
                                История заказов
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="products">
                                <i class="fal fa-cart-arrow-down"></i>
                                Товары
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="promotion">
                                <i class="fal fa-rocket"></i>
                                Продвижение
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="users">
                                <i class="fal fa-users"></i>
                                Пользователи
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="settings">
                                <i class="fal fa-cogs"></i>
                                Настройки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="exit">
                                <i class="fal fa-sign-out"></i>
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="content">
            <div id="aboutUs">aboutUs</div>
            <div id="orders">orders</div>
            <div id="ordersHistory">ordersHistory</div>
            <div id="products">products</div>
            <div id="promotion">promotion</div>
            <div id="users">users</div>
            <div id="settings">settings</div>
        </div>
    </content>

    @Scripts.Render("~/bundles/panel")
</body>
</html>
