<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Images/favico.ico" type="image/x-icon">
    <title>Панель администратора</title>
    @Styles.Render("~/fontawesome/css")
    @Styles.Render("~/common/css")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
</head>
<body>
    <div id="preloader-app" class="preloader-app bg-light">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header>
        <nav id="navigator" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
                    <ul class="navbar-nav mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link es-nav-brand" role="button" target-page="aboutUs">
                                <img height="18" src="~/Images/logo.png" alt="Logo" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="orders">
                                Заказы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="ordersHistory">
                                История заказов
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="products">
                                Товары
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="promotion">
                                Продвижение
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="users">
                                Пользователи
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="settings">
                                Настройки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="tariffsAndPay">
                                Тарифы и оплата
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="orders">
                                <span id="orderNumberNotification" class="badge rounded-pill badge-notification bg-danger" style="">9</span>
                                <i class="fas fa-bell icon-order-notification"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" target-page="exit">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="content">
            <div id="aboutUs" class="partial-page">aboutUs</div>
            <div id="orders" class="partial-page">orders</div>
            <div id="ordersHistory" class="partial-page">ordersHistory</div>
            <div id="products" class="partial-page">products</div>
            <div id="promotion" class="partial-page">promotion</div>
            <div id="users" class="partial-page">users</div>
            <div id="settings" class="partial-page">settings</div>
            <div id="tariffsAndPay" class="partial-page">tariffsAndPay</div>
        </div>
    </content>

    @Scripts.Render("~/bundles/pages")
    @Scripts.Render("~/bundles/panel")
</body>
</html>
